body,
html,
div,
span,
header,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Microsoft YaHei" !important;
  margin-bottom: 70px;
  position: relative;
}

header {
  padding: 10px 20px;
  background: rgb(90,153,168);
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a {
  color: inherit;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.nav-list > a > .fa {
  font-size: 23px;
}

.nav-list > a > .logo {
  font-size: 30px;
  font-weight: bold;
}

.nav-list > a > * {
  color: #fff;
  display: block;
  text-align: center;
}

.nav-list > a > .icon-text {
  font-size: 8px;
  margin: 0 6px;
}

.carousel-list {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 20%;
  height: 100%;
}

.carousel-list > li {
  list-style-type: none;
  display: block;
  padding: 20px;
  width: 100%;
  height: 25%;
  cursor: pointer;
  background: rgba(0,0,0,.5);
  color: white;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.carousel-list > .active {
  background: rgba(0,0,0,.65);
}

.title-block {
  padding: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.more {
  margin: 10px 0;
  font-size: 19px;
  color: rgb(237,108,0);
}

.section-inner {
  padding: 20px;
}

.show-block img{
  width: 100%;
  -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
  -moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
  box-shadow: 5px 5px 10px rgba(0,0,0,.3);
}

.show-block {
  width: 25%;
  margin: 0 4.166666%;
}

.show-title {
  text-align: center;
  padding: 10px;
  color: rgb(107,107,107);
}

.section-seperate {
  margin: 0;
  border-width: 2px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0;
  background: rgb(90,153,168);
}

footer .footer-item {
  padding: 20px;
  width: 25%;
  text-align: center;
  font-weight: 2px;
  font-size: 24px;
  color: #fff;
}

footer .active {
  background: rgb(55,131,147);
}

.tablist-icon {
  position: fixed;
  padding: 12px;
  padding-right: 15px;
  left: 0;
  top: 20%;
  color: white;
  background: #000;
  opacity: .5;
}